body {
    font-family: sans-serif;
    background-image: url('background .jpg');
    background-size: cover;
    background-position: center;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.game-container {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-position: center;
}


.game-board {
    width: 250px;
    height: 250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px solid #000;
}

.light {
    width: 48px;
    height: 48px;
    background-color: #ddd;
    border: 1px solid #aaa;
}

.light.on {
    background-color: #000;
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: white;
}

#target-lights,
#moves,
#time {
    flex: 1;
}

#new-game,
#reload {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
